<% if @user.flights.any? %>
  <table class="table .table-sm table-hover table-striped table-bordered table-responsive table-condensed flights" %>
    <thead>
      <tr class="header top-header">
        <th class="center" colspan="5"></th>
        <th class="center" colspan="4">Single Engine</th>
        <th class="center" colspan="4">Multi Engine</th>
        <th class="center" colspan="4">Instrument</th>
        <th class="center" colspan="3">Cross Country</th>
        <th class="center" colspan="2"></th>
      </tr>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">ident</th>
        <th scope="col">Pilot In Command</th>
        <th scope="col">Co-pilot/Student</th>
        <!-- SINGLE ENGINE -->
        <th scope="col">PIC Day</th>
        <th scope="col">Dual Day</th>
        <th scope="col">PIC Night</th>
        <th scope="col">Dual Night</th>
        <!-- MULTI ENGINE -->
        <th scope="col">PIC Day</th>
        <th scope="col">Dual Day</th>
        <th scope="col">PIC Night</th>
        <th scope="col">Dual Night</th>
        <!--  -->
        <th class="col">Hood</th>
        <th class="col">IMC</th>
        <th class="col">Sim</th>
        <th class="col">IFR Apprs</th>
        <th class="col">Day</th>
        <th class="col">Night</th>
        <th class="col">Route</th>
        <th class="col">Comments</th>
        <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
    <%= render @flights %>
  </tbody>
  <%= will_paginate @flights %>
</table>
<% end %>
