<aside class="col-md-4">
  <section class="user_info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
      <!-- need to add these fields to the database -->
      <!-- <p class="lead smaller"><small> License Number: <%= @user.license_number %> <br>
                                      Based out of: <%= @user.location %>
                              </small>
      </p> -->
    </h1>
  </section>
</aside>
