<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <p class="lead smaller"><small> License Number: 999999 </small> </p>
      </h1>
    </section>
  </aside>
  <div>
    <%= render 'users/flight_table' %>    
  </div>
  <div class='form add-flight'>
    <section class="flight_form">
      <%= render 'shared/flight_form' %>
    </section>
  </div>
</div>
